body
{
    background-color: #f8f8f8;
    font-family: sans-serif;
}
.book
{
    padding: 10px;
}

.image
{
    text-align: center;
}
.book-name
{
    margin-bottom: 0px;
}
.author
{
    color: #777777;
    font-size: 15px;
    margin-top: 0px;
}
.price-block
{
    text-align: center;
    color: white;
   background-color:rgb(46, 204, 113);
   padding: 10px;
}
h2{
    margin-bottom: 0px;
	margin-top:0px;
}